@import 'base/normilize';
@import 'blocks/header';
@import 'base/variables';
@import 'blocks/buttons';
@import 'blocks/main-silder';
@import 'blocks/catalog';
@import 'blocks/reasons';
@import 'blocks/basic-info';
@import 'blocks/furniture';

*{
    font-family: 'Montserrat', sans-serif;
}

ul{
    padding: 0;
}

body{
    background: #EFEFEF;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 3.47vw;
}