.basic-info{
    padding-top: 50px;
    padding-bottom: 50px;
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #454545;
    }
}