.button{
    background:$main-color;
    border:none;
    border-radius: 5px;
    width: 13.54vw;
    max-width:195px;
    height: 2.43vw;
    max-height: 35px;
    font-weight: 300;
    font-size: 1.11vw;
    line-height: 1.39vw;
    color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    &__slider{
        max-width: 159px;
        max-height: 44px;
    }
    &__furniture{
        max-width: 244px;
        max-height: 50px;
    }
}
@media(min-width:1441px){
    .button{
        font-size: 16px;
        line-height: 20px;

    }

}
@media(max-width:768px) {
    .button{
        &__slider{
            min-width: 100%;
            height: 40px;
            font-size: 14px;
        }
        &__furniture{
            width: 244px;
            height: 50px;
            font-size: 14px;
        }
    }
    
}