@import '../base/variables';
.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
    height: 102px;
	background:#fff;
	display: flex;
    align-items: center;
	&__logo{
		z-index: 11;
	}
}
.header__container {
	margin: 0px auto;
	display: flex;
	padding: 0px 3.47vw;
	align-items: center;
	justify-content: space-between;
	max-width: 1440px;
}

.menu{
	&__contact{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__body{
		display: flex;
		flex-direction: column;
		padding-left: 4vw;
		grid-gap: 1vw;
	}
}
.menu_place{
	display: flex;
	align-items: center;
	column-gap: 1.39vw;
	span{
		color: #454545;
		font-size: 1.11vw;
		line-height: 1.39vw;
	}
}
.menu_email{
	display: flex;
	align-items: center;
	column-gap: 1.39vw;
	span{
		color: #454545;
		font-size: 1.11vw;
		line-height: 1.39vw;
	}
}
.menu_number{
	display: flex;
	align-items: center;
	column-gap: 1.39vw;
	a{
		color: #454545;
		font-size: 1.11vw;
		line-height: 1.39vw;
		text-decoration: none;
	}
}
.menu_second_number{
	display: flex;
	align-items: center;
	column-gap: 1.39vw;
	a{
		color: #454545;
		font-size: 1.11vw;
		line-height: 1.39vw;
		text-decoration: none;
	}
}
.menu__icon {
	display: none;
}

.menu__list >li:first-child{
	margin: 0;
}
.menu__list >li:last-child{
	margin-left: 7.43vw;
}
.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 4.86vw;
}
.menu__link {
	color: #454545;;
	font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.53vw;
}
.active{
	color:#FF7D04;
	font-weight: 700;
}
.menu__link:hover {
	text-decoration: underline;
}
.menu__sub-list {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #000;
	padding: 15px;
	min-width: 200px;
}
.menu__sub-list li {
	margin: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
	margin: 0;
}
.menu__sub-link {
	color: #fff;
}
.menu__sub-link:hover {
	text-decoration: underline;
}
.menu__arrow {
	display: none;
}
/* ----------------------- */
body._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__list > li {
	display: flex;
	align-items: center;
}
body._touch .menu__link {
	flex: 1 1 auto;
}
body._touch .menu__arrow {
	display: block;
	width: 0;
	height: 0;
	margin: 0px 0px 0px 5px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(-180deg);
}

/* ----------------------- */
@media (min-width: 1500px){
	.menu__body{
		grid-gap: 17px;
		padding-left: 70px;
	}
	.menu__list>li{
		margin: 0 0 0 70px;
	}
	.menu__list>li:last-child{
		margin-left: 107px;
	}
	.menu_place{
		span{
			font-size: 16px;
			line-height: 20px;
		}
	}
	.menu_email{
		span{
			font-size: 16px;
			line-height: 20px;
		}
	}
	.menu_number{
		a{
			font-size: 16px;
			line-height: 20px;
		}
	}
	.menu_second_number{
		a{
			font-size: 16px;
			line-height: 20px;
		}
	}
	.menu__link{
		font-size: 18px;
		line-height: 22px;
	}
}
@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: flex-end;
        list-style-type: none; 
		margin: 0;

	}
	.menu__sub-list {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
	
}
@media (max-width: 1260px){
	.menu__list{
		justify-content: space-between;
	}
	.menu__list>li{
		margin: 0;
	}
	.header__container{
		width: 100%;
	}
	.header__menu.menu {
		width: 100%;
	}
	
}
@media (max-width: 767px) {

	.menu__link{
		list-style: none;
	}
	.menu__contact{
		display: none;
	}
	.menu__list>li:last-child{
		margin-left: 0;
	}
	.button__menu{
		display: none;
	}
	.header{
		height: auto;
		&__container{
			width: 100%;
		}
	}
	.header__menu.menu {
		width: auto;
	}
	.menu__list>li:first-child{
		margin: 0 0 30px 0;
	}
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: $main-color;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -120%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		z-index: 2;
	}

	.menu__list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: 24px;
        color: #454545;
	}
	.menu__sub-list {
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		margin: 20px 0px 0px 0px;
		display: none;
	}
	.menu__sub-link {
		font-size: 20px;
		color: #000;
	}
}
