
.swiper{
    height: 432px;
}
.swiper-pagination-bullet-active {
    background: $main-color !important; 
  }
.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-data{
    position: absolute;
  }

  .swiper_container{
    position: absolute;
    margin: 0 auto;
    max-width: 1345px;
    left: 3.47vw;
    right: 3.47vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .slide-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 25px;
  }
  .slide-descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 40px;
  }

  @media(max-width:768px){
    .slide-title{
        font-size: 25px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .slide-descr{
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }
    
  }