.news{
    min-height: 606px;
    padding-bottom: 50px;
    &__title{
        font-weight: 400;
        font-size: 50px;
        color:$second-color;
        text-align: center;
        margin-top: 0;
        margin-bottom: 39px;
    }
    &__slide{
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    &__cover{
        width: 50%;
        img{
            width: 100%;
        }
    }
    &__info{
        padding-left: 20px;
        padding-right: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 50%;
        text-align: left;
    }
    &__time{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #454545;
    }
    &__article{
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
        color: #454545;
    }
    &__descr{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #454545;
    }
}
.swiper-button-next, .swiper-button-prev{
    color:$main-color !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    background: rgba(255, 255, 255, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0px !important;
    right: auto;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    background: rgba(255, 255, 255, 0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.newsSlider{
    margin-bottom: 40px;
}
@media(max-width:1023px){
    .news{
        &__slide{
            flex-direction: column;
        }
        &__info{
            width: 100%;
        }
        &__cover{
            width: 100%;
        }
    }
}

